<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- load the CSS file -->
        <meta charset="UTF-8">
        <!-- ensure proper rendering and touch zooming on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- set the title of the page -->
        <title>{% block title %}My App{% endblock %}</title>
        <!-- link to the external CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- block for additional head content -->
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav>
            <!-- navigation links to different pages of the app -->
            <a href="{{ url_for('welcome.index') }}">Home</a>
            <a href="{{ url_for('tips.index') }}">Tips</a>
            <a href="{{ url_for('facility.index') }}">Facility</a>
            <a href="{{ url_for('record.index') }}">Record</a>
        </nav>

        <main>
            <!-- block for the main content of the page -->
            {% block content %}{% endblock %}
        </main>

        <!-- link to the external JavaScript file -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <!-- block for additional scripts -->
        {% block scripts %}{% endblock %}
    </body>
</html>